body{
    margin: 1 auto; 
    background-color: #ffdfff;
    font-family: Calibri;
    font-size: 20px;
}
@media(max-width:500px){
	body{
        /*GM*/
        font-size: 10px;
    }
}
h1{
    font-family: Arial;
    margin-top:50px;
    text-align: center;
    text-decoration: underline rgb(255, 0, 128);
}
table{
    margin-left:2.5%;
    margin-right:2.5%;
    width: 95%;
    border-collapse: collapse;
    height: 350px;
}
@media(max-width:500px){
	table{
        margin-left:0%;
        margin-right:0%;
        width: 100%;
    }
}
table, tr , th, td {
    border: 3px solid #000000;
    text-align: center;
}
th{
    background-color: #5c5c5c;
    color:#ffffff;
}
.emp{
    background-color: #7b4d41;
}
.ser{
    background-color: #ffae24;
}
.cli{
   background-color: #60d214; 
}
.int{
    background-color: #6bf3ff;
}
.des{
    background-color: #8e44ad;
}
.rec{
    background-color: #ffffff;
    font-weight: bold;
}
.ing{
    background-color: #ff2525;
}
